.footer
  background: $primaryColor
  height 55px
  line-height: 55px
  display flex
  justify-content: center
  align-items: center
  position absolute
  bottom:0
  left:0
  width: 100%
  p
	  color: #FFFFFF;
	  font-family: Raleway;
	  font-size: 20px;