.header
  background: $primaryColor
  margin-bottom: 20px
  display flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  @media screen and (min-width: 1024px)
    height 108px
    margin-bottom: 30px
    // line-height: 108px
    flex-direction: row
    align-items: center
    padding: 0px 90px
  &__title h1
    color: #FFFFFF
    font-family: Raleway
    font-size: 20px
    font-weight: 400
    line-height: 24px
    text-align: center
    text-transform: uppercase
  &__brand
    margin-right:20px
    @media screen and (min-width: 1024px)
      margin-right:30px