html {
  box-sizing: border-box;
  margin-right: 0px !important;
}
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
a:focus {
  outline: none;
}
a:hover {
  text-decoration: underline;
}
body::-webkit-scrollbar {
  display: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  background: none;
  outline: none;
  border: 0px;
}
button:focus {
  outline: none;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="submit"],
select,
textarea {
  outline: none;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="submit"]:focus,
select:focus,
textarea:focus {
  outline: none;
}
select:disabled,
input[type=text]:disabled,
input[type=number]:disabled,
input[type=password]:disabled,
input[type=date]:disabled {
  background: rgba(204,204,204,0.3);
  border-color: rgba(204,204,204,0.3);
  cursor: not-allowed;
  color: rgba(204,204,204,0.3);
}
select:disabled::-webkit-input-placeholder,
input[type=text]:disabled::-webkit-input-placeholder,
input[type=number]:disabled::-webkit-input-placeholder,
input[type=password]:disabled::-webkit-input-placeholder,
input[type=date]:disabled::-webkit-input-placeholder {
  color: rgba(204,204,204,0.3);
}
select:disabled:-ms-input-placeholder,
input[type=text]:disabled:-ms-input-placeholder,
input[type=number]:disabled:-ms-input-placeholder,
input[type=password]:disabled:-ms-input-placeholder,
input[type=date]:disabled:-ms-input-placeholder {
  color: rgba(204,204,204,0.3);
}
select:disabled::placeholder,
input[type=text]:disabled::placeholder,
input[type=number]:disabled::placeholder,
input[type=password]:disabled::placeholder,
input[type=date]:disabled::placeholder {
  color: rgba(204,204,204,0.3);
}
input[type=submit]:disabled {
  cursor: not-allowed !important;
  background: rgba(204,204,204,0.5);
  border-color: rgba(204,204,204,0.5);
}
input[type=submit]:disabled:hover {
  background: rgba(204,204,204,0.5);
  border-color: rgba(204,204,204,0.5);
}
select:focus {
  outline: none;
}
h1 {
  margin: 0;
}
li {
  list-style: none;
}
html {
  height: 100%;
  position: relative;
}
body {
  position: relative;
  min-height: 100%;
  width: 100%;
  font-family: Raleway;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
p {
  color: #727070;
  font-size: 16px;
  line-height: 19px;
}
.container-fluid {
  padding-right: 1rem;
  padding-left: 1rem;
}
small {
  font-size: 12.5px;
}
.link {
  border-bottom: 1px solid #000;
}
.link--white {
  color: #fff;
  border-color: #fff;
}
body.noscroll {
  overflow-y: hidden !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
@media screen and (min-width: 1024px) {
  .mb-5-md {
    margin-bottom: 5px !important;
  }
}
.mt-5 {
  margin-top: 5px !important;
}
@media screen and (min-width: 1024px) {
  .mt-5-md {
    margin-top: 5px !important;
  }
}
.mb-10 {
  margin-bottom: 10px !important;
}
@media screen and (min-width: 1024px) {
  .mb-10-md {
    margin-bottom: 10px !important;
  }
}
.mt-10 {
  margin-top: 10px !important;
}
@media screen and (min-width: 1024px) {
  .mt-10-md {
    margin-top: 10px !important;
  }
}
.mb-15 {
  margin-bottom: 15px !important;
}
@media screen and (min-width: 1024px) {
  .mb-15-md {
    margin-bottom: 15px !important;
  }
}
.mt-15 {
  margin-top: 15px !important;
}
@media screen and (min-width: 1024px) {
  .mt-15-md {
    margin-top: 15px !important;
  }
}
.mb-20 {
  margin-bottom: 20px !important;
}
@media screen and (min-width: 1024px) {
  .mb-20-md {
    margin-bottom: 20px !important;
  }
}
.mt-20 {
  margin-top: 20px !important;
}
@media screen and (min-width: 1024px) {
  .mt-20-md {
    margin-top: 20px !important;
  }
}
.mb-25 {
  margin-bottom: 25px !important;
}
@media screen and (min-width: 1024px) {
  .mb-25-md {
    margin-bottom: 25px !important;
  }
}
.mt-25 {
  margin-top: 25px !important;
}
@media screen and (min-width: 1024px) {
  .mt-25-md {
    margin-top: 25px !important;
  }
}
.mb-30 {
  margin-bottom: 30px !important;
}
@media screen and (min-width: 1024px) {
  .mb-30-md {
    margin-bottom: 30px !important;
  }
}
.mt-30 {
  margin-top: 30px !important;
}
@media screen and (min-width: 1024px) {
  .mt-30-md {
    margin-top: 30px !important;
  }
}
.mb-35 {
  margin-bottom: 35px !important;
}
@media screen and (min-width: 1024px) {
  .mb-35-md {
    margin-bottom: 35px !important;
  }
}
.mt-35 {
  margin-top: 35px !important;
}
@media screen and (min-width: 1024px) {
  .mt-35-md {
    margin-top: 35px !important;
  }
}
.mb-40 {
  margin-bottom: 40px !important;
}
@media screen and (min-width: 1024px) {
  .mb-40-md {
    margin-bottom: 40px !important;
  }
}
.mt-40 {
  margin-top: 40px !important;
}
@media screen and (min-width: 1024px) {
  .mt-40-md {
    margin-top: 40px !important;
  }
}
.mb-45 {
  margin-bottom: 45px !important;
}
@media screen and (min-width: 1024px) {
  .mb-45-md {
    margin-bottom: 45px !important;
  }
}
.mt-45 {
  margin-top: 45px !important;
}
@media screen and (min-width: 1024px) {
  .mt-45-md {
    margin-top: 45px !important;
  }
}
.mb-50 {
  margin-bottom: 50px !important;
}
@media screen and (min-width: 1024px) {
  .mb-50-md {
    margin-bottom: 50px !important;
  }
}
.mt-50 {
  margin-top: 50px !important;
}
@media screen and (min-width: 1024px) {
  .mt-50-md {
    margin-top: 50px !important;
  }
}
.mb-55 {
  margin-bottom: 55px !important;
}
@media screen and (min-width: 1024px) {
  .mb-55-md {
    margin-bottom: 55px !important;
  }
}
.mt-55 {
  margin-top: 55px !important;
}
@media screen and (min-width: 1024px) {
  .mt-55-md {
    margin-top: 55px !important;
  }
}
.mb-60 {
  margin-bottom: 60px !important;
}
@media screen and (min-width: 1024px) {
  .mb-60-md {
    margin-bottom: 60px !important;
  }
}
.mt-60 {
  margin-top: 60px !important;
}
@media screen and (min-width: 1024px) {
  .mt-60-md {
    margin-top: 60px !important;
  }
}
.mb-65 {
  margin-bottom: 65px !important;
}
@media screen and (min-width: 1024px) {
  .mb-65-md {
    margin-bottom: 65px !important;
  }
}
.mt-65 {
  margin-top: 65px !important;
}
@media screen and (min-width: 1024px) {
  .mt-65-md {
    margin-top: 65px !important;
  }
}
.mb-70 {
  margin-bottom: 70px !important;
}
@media screen and (min-width: 1024px) {
  .mb-70-md {
    margin-bottom: 70px !important;
  }
}
.mt-70 {
  margin-top: 70px !important;
}
@media screen and (min-width: 1024px) {
  .mt-70-md {
    margin-top: 70px !important;
  }
}
.mb-75 {
  margin-bottom: 75px !important;
}
@media screen and (min-width: 1024px) {
  .mb-75-md {
    margin-bottom: 75px !important;
  }
}
.mt-75 {
  margin-top: 75px !important;
}
@media screen and (min-width: 1024px) {
  .mt-75-md {
    margin-top: 75px !important;
  }
}
.mb-80 {
  margin-bottom: 80px !important;
}
@media screen and (min-width: 1024px) {
  .mb-80-md {
    margin-bottom: 80px !important;
  }
}
.mt-80 {
  margin-top: 80px !important;
}
@media screen and (min-width: 1024px) {
  .mt-80-md {
    margin-top: 80px !important;
  }
}
.mb-85 {
  margin-bottom: 85px !important;
}
@media screen and (min-width: 1024px) {
  .mb-85-md {
    margin-bottom: 85px !important;
  }
}
.mt-85 {
  margin-top: 85px !important;
}
@media screen and (min-width: 1024px) {
  .mt-85-md {
    margin-top: 85px !important;
  }
}
.mb-90 {
  margin-bottom: 90px !important;
}
@media screen and (min-width: 1024px) {
  .mb-90-md {
    margin-bottom: 90px !important;
  }
}
.mt-90 {
  margin-top: 90px !important;
}
@media screen and (min-width: 1024px) {
  .mt-90-md {
    margin-top: 90px !important;
  }
}
.mb-95 {
  margin-bottom: 95px !important;
}
@media screen and (min-width: 1024px) {
  .mb-95-md {
    margin-bottom: 95px !important;
  }
}
.mt-95 {
  margin-top: 95px !important;
}
@media screen and (min-width: 1024px) {
  .mt-95-md {
    margin-top: 95px !important;
  }
}
.mb-100 {
  margin-bottom: 100px !important;
}
@media screen and (min-width: 1024px) {
  .mb-100-md {
    margin-bottom: 100px !important;
  }
}
.mt-100 {
  margin-top: 100px !important;
}
@media screen and (min-width: 1024px) {
  .mt-100-md {
    margin-top: 100px !important;
  }
}
.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}
@media screen and (min-width: 1024px) {
  .mr-5-md {
    margin-right: 5px !important;
  }
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
@media screen and (min-width: 1024px) {
  .mr-10-md {
    margin-right: 10px !important;
  }
}
.ml-15 {
  margin-left: 15px;
}
.mr-15 {
  margin-right: 15px;
}
@media screen and (min-width: 1024px) {
  .mr-15-md {
    margin-right: 15px !important;
  }
}
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
@media screen and (min-width: 1024px) {
  .mr-20-md {
    margin-right: 20px !important;
  }
}
.ml-25 {
  margin-left: 25px;
}
.mr-25 {
  margin-right: 25px;
}
@media screen and (min-width: 1024px) {
  .mr-25-md {
    margin-right: 25px !important;
  }
}
.ml-30 {
  margin-left: 30px;
}
.mr-30 {
  margin-right: 30px;
}
@media screen and (min-width: 1024px) {
  .mr-30-md {
    margin-right: 30px !important;
  }
}
.ml-35 {
  margin-left: 35px;
}
.mr-35 {
  margin-right: 35px;
}
@media screen and (min-width: 1024px) {
  .mr-35-md {
    margin-right: 35px !important;
  }
}
.ml-40 {
  margin-left: 40px;
}
.mr-40 {
  margin-right: 40px;
}
@media screen and (min-width: 1024px) {
  .mr-40-md {
    margin-right: 40px !important;
  }
}
.ml-45 {
  margin-left: 45px;
}
.mr-45 {
  margin-right: 45px;
}
@media screen and (min-width: 1024px) {
  .mr-45-md {
    margin-right: 45px !important;
  }
}
.ml-50 {
  margin-left: 50px;
}
.mr-50 {
  margin-right: 50px;
}
@media screen and (min-width: 1024px) {
  .mr-50-md {
    margin-right: 50px !important;
  }
}
.ml-55 {
  margin-left: 55px;
}
.mr-55 {
  margin-right: 55px;
}
@media screen and (min-width: 1024px) {
  .mr-55-md {
    margin-right: 55px !important;
  }
}
.ml-60 {
  margin-left: 60px;
}
.mr-60 {
  margin-right: 60px;
}
@media screen and (min-width: 1024px) {
  .mr-60-md {
    margin-right: 60px !important;
  }
}
.ml-65 {
  margin-left: 65px;
}
.mr-65 {
  margin-right: 65px;
}
@media screen and (min-width: 1024px) {
  .mr-65-md {
    margin-right: 65px !important;
  }
}
.ml-70 {
  margin-left: 70px;
}
.mr-70 {
  margin-right: 70px;
}
@media screen and (min-width: 1024px) {
  .mr-70-md {
    margin-right: 70px !important;
  }
}
.ml-75 {
  margin-left: 75px;
}
.mr-75 {
  margin-right: 75px;
}
@media screen and (min-width: 1024px) {
  .mr-75-md {
    margin-right: 75px !important;
  }
}
.ml-80 {
  margin-left: 80px;
}
.mr-80 {
  margin-right: 80px;
}
@media screen and (min-width: 1024px) {
  .mr-80-md {
    margin-right: 80px !important;
  }
}
.ml-85 {
  margin-left: 85px;
}
.mr-85 {
  margin-right: 85px;
}
@media screen and (min-width: 1024px) {
  .mr-85-md {
    margin-right: 85px !important;
  }
}
.ml-90 {
  margin-left: 90px;
}
.mr-90 {
  margin-right: 90px;
}
@media screen and (min-width: 1024px) {
  .mr-90-md {
    margin-right: 90px !important;
  }
}
.ml-95 {
  margin-left: 95px;
}
.mr-95 {
  margin-right: 95px;
}
@media screen and (min-width: 1024px) {
  .mr-95-md {
    margin-right: 95px !important;
  }
}
.ml-100 {
  margin-left: 100px;
}
.mr-100 {
  margin-right: 100px;
}
@media screen and (min-width: 1024px) {
  .mr-100-md {
    margin-right: 100px !important;
  }
}
.margin-auto {
  margin: 0 auto !important;
}
.border {
  border: 0px;
  border-bottom: 1px solid #c0c0c0;
}
.no-border {
  border: 0px !important;
  height: 150px !important;
}
.border--dashed {
  height: 1px;
  background-image: -webkit-linear-gradient(left, #979797 33%, rgba(255,255,255,0) 0%);
  background-image: linear-gradient(to right, #979797 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 35px 1px;
  background-repeat: repeat-x;
  max-width: 860px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.pl-0 {
  padding-left: 0px !important;
}
@media screen and (min-width: 1024px) {
  .pl-0-md {
    padding-left: 0px !important;
  }
}
.pr-10 {
  padding-right: 10px !important;
}
@media screen and (min-width: 1024px) {
  .pr-10-md {
    padding-right: 10px !important;
  }
}
.pt-10 {
  padding-top: 10px !important;
}
.pl-10 {
  padding-left: 10px !important;
}
@media screen and (min-width: 1024px) {
  .pl-10-md {
    padding-left: 10px !important;
  }
}
.pr-20 {
  padding-right: 20px !important;
}
@media screen and (min-width: 1024px) {
  .pr-20-md {
    padding-right: 20px !important;
  }
}
.pt-20 {
  padding-top: 20px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
@media screen and (min-width: 1024px) {
  .pl-20-md {
    padding-left: 20px !important;
  }
}
.pr-30 {
  padding-right: 30px !important;
}
@media screen and (min-width: 1024px) {
  .pr-30-md {
    padding-right: 30px !important;
  }
}
.pt-30 {
  padding-top: 30px !important;
}
.pl-30 {
  padding-left: 30px !important;
}
@media screen and (min-width: 1024px) {
  .pl-30-md {
    padding-left: 30px !important;
  }
}
.pr-40 {
  padding-right: 40px !important;
}
@media screen and (min-width: 1024px) {
  .pr-40-md {
    padding-right: 40px !important;
  }
}
.pt-40 {
  padding-top: 40px !important;
}
.pl-40 {
  padding-left: 40px !important;
}
@media screen and (min-width: 1024px) {
  .pl-40-md {
    padding-left: 40px !important;
  }
}
.pr-50 {
  padding-right: 50px !important;
}
@media screen and (min-width: 1024px) {
  .pr-50-md {
    padding-right: 50px !important;
  }
}
.pt-50 {
  padding-top: 50px !important;
}
.pl-50 {
  padding-left: 50px !important;
}
@media screen and (min-width: 1024px) {
  .pl-50-md {
    padding-left: 50px !important;
  }
}
.pr-60 {
  padding-right: 60px !important;
}
@media screen and (min-width: 1024px) {
  .pr-60-md {
    padding-right: 60px !important;
  }
}
.pt-60 {
  padding-top: 60px !important;
}
.pl-60 {
  padding-left: 60px !important;
}
@media screen and (min-width: 1024px) {
  .pl-60-md {
    padding-left: 60px !important;
  }
}
.pr-70 {
  padding-right: 70px !important;
}
@media screen and (min-width: 1024px) {
  .pr-70-md {
    padding-right: 70px !important;
  }
}
.pt-70 {
  padding-top: 70px !important;
}
.pl-70 {
  padding-left: 70px !important;
}
@media screen and (min-width: 1024px) {
  .pl-70-md {
    padding-left: 70px !important;
  }
}
.pr-80 {
  padding-right: 80px !important;
}
@media screen and (min-width: 1024px) {
  .pr-80-md {
    padding-right: 80px !important;
  }
}
.pt-80 {
  padding-top: 80px !important;
}
.pl-80 {
  padding-left: 80px !important;
}
@media screen and (min-width: 1024px) {
  .pl-80-md {
    padding-left: 80px !important;
  }
}
.pr-90 {
  padding-right: 90px !important;
}
@media screen and (min-width: 1024px) {
  .pr-90-md {
    padding-right: 90px !important;
  }
}
.pt-90 {
  padding-top: 90px !important;
}
.pl-90 {
  padding-left: 90px !important;
}
@media screen and (min-width: 1024px) {
  .pl-90-md {
    padding-left: 90px !important;
  }
}
.pr-100 {
  padding-right: 100px !important;
}
@media screen and (min-width: 1024px) {
  .pr-100-md {
    padding-right: 100px !important;
  }
}
.pt-100 {
  padding-top: 100px !important;
}
.pl-100 {
  padding-left: 100px !important;
}
@media screen and (min-width: 1024px) {
  .pl-100-md {
    padding-left: 100px !important;
  }
}
.no-padding {
  padding: 0 !important;
}
.clearfix:after,
.clearfix:before {
  content: '';
  display: block;
  clear: both;
}
.center-block {
  display: block;
  margin: 0 auto;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-inline-xs,
.visible-inline-sm,
.visible-inline-md,
.visible-inline-lg {
  display: none !important;
}
.visible-flex-xs,
.visible-flex-sm,
.visible-flex-md,
.visible-flex-lg {
  display: none !important;
}
@media screen and (min-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  .visible-inline-xs {
    display: inline-block !important;
  }
  .visible-flex-xs {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
  }
}
@media screen and (min-width: 768px) {
  .visible-sm {
    display: block !important;
  }
  .visible-inline-sm {
    display: inline-block !important;
  }
  .visible-flex-sm {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
  }
}
@media screen and (min-width: 1024px) {
  .visible-md {
    display: block !important;
  }
  .visible-inline-md {
    display: inline-block !important;
  }
  .visible-flex-md {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
  }
}
@media screen and (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  .visible-inline-lg {
    display: inline-block !important;
  }
  .visible-flex-lg {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
  }
}
.hidden {
  display: none !important;
}
@media screen and (min-width: 767px) {
  .hidden .hidden-xs {
    display: none !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hidden .hidden-sm {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  .hidden .hidden-md {
    display: none !important;
  }
}
@media screen and (min-width: 1200px) {
  .hidden .hidden-lg {
    display: none !important;
  }
}
.block-center {
  margin: 0 auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: capitalize !important;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right;
}
.capitalize {
  text-transform: capitalize;
}
.separator {
  height: 40px;
  line-height: 40px;
  border: 0;
}
.alert {
  font-size: 12.5px;
}
.alert-error {
  color: #f00;
}
.btn {
  height: 45px;
  position: relative;
  line-height: 45px;
  padding: 0px 15px;
  cursor: pointer;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  letter-spacing: 1px;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  border-radius: 45px;
  text-transform: uppercase;
  min-width: 180px;
}
.btn.btn-block {
  display: block;
  width: 100%;
}
.btn-primary {
  color: #fff;
  background-color: #006384;
  border: none;
}
.btn-primary:focus {
  outline: 0px;
}
.btn-primary:hover {
  background-color: #00455c;
}
.btn-primary:active {
  box-shadow: inset 3px 3px 0px rgba(0,0,0,0.1);
}
.btn-reset {
  color: #fff;
  background-color: #959595;
  border: none;
}
.btn-reset:focus {
  outline: 0px;
}
.btn-reset:hover {
  background-color: #686868;
}
.btn-reset:active {
  box-shadow: inset 3px 3px 0px rgba(0,0,0,0.1);
}
.btn-disabled {
  cursor: auto;
  background: rgba(204,204,204,0.5);
  border-color: rgba(204,204,204,0.5);
}
.btn-disabled:hover {
  background: rgba(204,204,204,0.5);
  border-color: rgba(204,204,204,0.5);
}
.footer {
  background: #3b4852;
  height: 55px;
  line-height: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer p {
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
}
.form-group {
  margin-bottom: 20px;
  position: relative;
  padding: 0 0.5rem;
}
@media screen and (min-width: 1024px) {
  .form-group {
    padding: 0 1.5rem;
  }
}
.form-group .form__label {
  text-align: center;
  display: block;
  text-align: left;
  color: #3b4852;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  position: relative;
}
.form-group .form__label.required:before {
  content: '*';
  display: inline-block;
  color: #006384;
  font-size: 21px;
  position: absolute;
  top: 0;
  left: -8px;
}
.form-group .form__label--small {
  color: #323941 !important;
  font-size: 13px !important;
}
.form-group .form__label--small.required:before {
  color: #e42e2e !important;
}
.form-group .form__label--nowrap {
  white-space: nowrap;
}
.form-control {
  height: 40px;
  line-height: 40px;
  width: 100%;
  background-color: transparent;
  padding-left: 15px;
  padding-right: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  letter-spacing: 0.73px;
  text-align: left;
  border-radius: 40px;
  border: 0px;
  color: #727070;
  font-size: 13px;
  border: 1px solid rgba(50,57,65,0.8);
  -webkit-appearance: none;
  -webkit-border-radius: 40px;
}
.form-control::-webkit-input-placeholder {
  color: #c0c0c0;
}
.form-control:-ms-input-placeholder {
  color: #c0c0c0;
}
.form-control::placeholder {
  color: #c0c0c0;
}
.form-control:focus {
  border-color: #3b4852;
}
.input-group {
  display: table;
  width: 100%;
  border-collapse: separate;
}
.input-group__add {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
  border-right: 0px;
  border-left: 0px;
  width: 50px;
  text-align: center;
}
.input-group__add span {
  line-height: 45px;
  color: $fontColor;
}
.select {
  position: relative;
}
.select:after {
  content: '';
  display: block;
  background: url("./flecha-down.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 8px;
  width: 12px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.select.open:after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.checkbox-custom {
  margin-right: 3px;
  display: inline-block;
}
.checkbox-custom input[type="checkbox"] {
  display: none;
}
.checkbox-custom input[type="checkbox"]:checked + label:after {
  content: "\e024";
  font-family: $oasis-font;
  font-size: 13px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.checkbox-custom label {
  position: relative;
  padding-right: 17px;
  text-align: right;
  line-height: 20px;
  color: inherit;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
  color: #727070;
}
.checkbox-custom label:after {
  content: "\e025";
  font-family: $oasis-font;
  font-size: 13px;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: -3px;
}
.header {
  background: #3b4852;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
@media screen and (min-width: 1024px) {
  .header {
    height: 108px;
    margin-bottom: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    padding: 0px 90px;
  }
}
.header__title h1 {
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
.header__brand {
  margin-right: 20px;
}
@media screen and (min-width: 1024px) {
  .header__brand {
    margin-right: 30px;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(59,72,82,0.3);
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  z-index: 900;
}
.modal__header h4 {
  line-height: 28px;
}
.modal__inner {
  background: rgba(255,255,255,0.95);
  padding: 2rem;
  max-width: 600px;
  position: relative;
}
.modal__close {
  float: right;
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.preview {
  background: #fff;
  max-width: 400px;
  margin: 0 auto;
}
.preview.disabled {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.preview__inner {
  position: relative;
  margin-bottom: 100px;
}
.preview__inner:after,
.preview__inner:before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.preview__inner:after {
  box-shadow: 0 25px 85px -45px rgba(0,0,0,0.1);
}
.preview__inner:before {
  box-shadow: 0 -45px 85px -45px rgba(0,0,0,0.1);
}
.preview__title {
  color: #3b4852;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 5px 0px;
  margin-bottom: 20px;
  display: block;
}
/*# sourceMappingURL=index.css.map */