$bgColor=#F1F1F1
$primaryColor=#3B4852
$secondaryColor=#006384
$grayColor =rgba(#cccccc,30%)
//HOTELES
$gosColor=#7373A9
$gotColor=#00B1B0
$ohColor=#000000
$smartColor=#82AC55
$palmColor = #DF2675
$gocColor = #E21B23
//Fuentes
$primaryFont='Raleway', sans-serif
//z-index
$zi-menu=850
$zi-dropdown=860
$zi-menu-inner=700
$zi-booking=800
$zi-footer=600